  
html{
   height: 100%; 
}
body {

background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 45%, rgba(175,199,232,1) 100%, rgba(190,208,234,1) 100%, rgba(121,155,200,1) 100%); /* FF3.6-15 */
background: -webkit-gradient(linear, left top, left bottom, color-stop(45%,rgba(255,255,255,1)), color-stop(100%,rgba(175,199,232,1)), color-stop(100%,rgba(190,208,234,1)), color-stop(100%,rgba(121,155,200,1))); /* Chrome4-9,Safari4-5 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 45%,rgba(175,199,232,1) 100%,rgba(190,208,234,1) 100%,rgba(121,155,200,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 45%,rgba(175,199,232,1) 100%,rgba(190,208,234,1) 100%,rgba(121,155,200,1) 100%); /* Opera 11.10-11.50 */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 45%,rgba(175,199,232,1) 100%,rgba(190,208,234,1) 100%,rgba(121,155,200,1) 100%); /* IE10 preview */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 45%,rgba(175,199,232,1) 100%,rgba(190,208,234,1) 100%,rgba(121,155,200,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#799bc8',GradientType=0 ); /* IE6-9 */
background-attachment: fixed;
}
    div
    {
        background-color: white;
        border:1px dotted black;
    padding-left: 10px;
    height: 300px;
    width: 400px;
    padding-top: 10px;
    position: fixed;
    margin: 100px 200px 300px 400px;
    
}
 
     .demo2{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1d2faa+75,0e1356+86 */
background: rgb(29,47,170); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(29,47,170,1) 75%, rgba(14,19,86,1) 86%); /* FF3.6-15 */
background: -webkit-gradient(linear, left top, left bottom, color-stop(75%,rgba(29,47,170,1)), color-stop(86%,rgba(14,19,86,1))); /* Chrome4-9,Safari4-5 */
background: -webkit-linear-gradient(top,  rgba(29,47,170,1) 75%,rgba(14,19,86,1) 86%); /* Chrome10-25,Safari5.1-6 */
background: -o-linear-gradient(top,  rgba(29,47,170,1) 75%,rgba(14,19,86,1) 86%); /* Opera 11.10-11.50 */
background: -ms-linear-gradient(top,  rgba(29,47,170,1) 75%,rgba(14,19,86,1) 86%); /* IE10 preview */
background: linear-gradient(to bottom,  rgba(29,47,170,1) 75%,rgba(14,19,86,1) 86%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d2faa', endColorstr='#0e1356',GradientType=0 ); /* IE6-9 */
 }
    .center2{
                background-color:white;
                margin: 50px 40px 10px 60px;
                border: 1px solid black ;
                height: 400px;
                width: 1000px;
                background-image: url(LogoGlobe.png);
            background-repeat: no-repeat;
            background-position: right bottom;
            padding: 30px}
            
            #p{margin-left: 5px;
               display: bold;    
               border-width: 3px;  
               margin-right: 50px;}